# Binary
jj-tui

# Config
.jj-tui.json

# Generated demo repo and fake origin (created by make demo-repo)
fixtures/demo-repo/
fixtures/fake-origin.git/
fixtures/evolog-split-vhs-repo/
fixtures/divergent-vhs-repo/
fixtures/after-origin-fake-origin.git/
fixtures/after-origin-vhs-repo/

# VSCode Settings
.vscode/

# jj
.jj/
